// Variables
$white: #fff
$black: #000
$orange: #EB8224

body
    background: url(../img/background.png)
    background-size: 100%
    background-repeat: no-repeat
    color: $white

header
    .header__nav
        &__logo-container
            display: flex
            justify-content: flex-end
            align-items: center
        ul
            list-style-type: none
            display: flex
            justify-content: center
            li
                white-space: nowrap
                margin: 0 0 0 23px
                a
                    font-family: Raleway
                    font-size: 18px
                    font-weight: 400
                    letter-spacing: 0.045em
                    color: $white
                    text-decoration: none
                    transition: .3s color ease
                    &:hover
                        color: $orange

        &__links-container
            display: flex
            justify-content: center
            align-items: center
            background: rgba(41, 42, 77, 0.5)
            backdrop-filter: blur(25px)
            border-radius: 10px
            padding: 20px 15px
            & > div
                margin: 0 0 0 15px
                white-space: nowrap
            .telephone-link__container
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                a
                    text-decoration: none
                .telephone-number
                    a
                        font-family: Forum
                        font-size: 24.88px
                        font-weight: 400
                        line-height: 22px
                        letter-spacing: 0.06em
                        color: $white
                .telephone__cta
                    a
                        font-family: Raleway
                        font-size: 14px
                        font-weight: 400
                        line-height: 20px
                        letter-spacing: 0em
                        color: $orange
                        border-bottom: 1px $orange dashed

h1
    font-family: Forum
    font-size: 78px
    font-weight: 400
    line-height: 84px
    letter-spacing: 0.035em
    text-align: left
    text-transform: uppercase

.h1__container
    position: relative
    p
        font-family: Forum
        font-size: 25px
        font-weight: 400
        line-height: 28px
        letter-spacing: 0.115em
        text-align: left
        vertical-align: middle
        margin: 0
        padding: 0
    .p__container
        background: linear-gradient(287deg, rgba(27, 58, 117, 0.2) 29.38%, rgba(133, 175, 255, 0.173562) 54.2%, rgba(38, 72, 137, 0.152) 74.43%), linear-gradient(88.45deg, #3A4763 1.97%, #3A4763 96.88%)
        box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.2)
        border-radius: 5px
        width: 213px
        height: 50px
        display: flex
        justify-content: center
        align-items: center

        position: absolute
        left: 29%
        top: 15px

h2
    font-family: Raleway
    font-size: 28px
    font-weight: 400
    line-height: 41px
    letter-spacing: 0.045em
    text-align: left

.h2__bold
    font-weight: 500

.noUi-connect
    background-color: #EB8224

.noUi-target
    background-color: rgba(255, 255, 255, .7)
    border: none
    border-radius: 100px
    box-shadow: none
    height: 2px

.noUi-handle::after,
.noUi-handle::before
    display: none

.noUi-handle
    box-shadow: none
    border-radius: 100%
    background-color: #fff

    .noUi-horizontal &
        width: 13px
        height: 13px
        top: -5.5px
        right: 0

    .noUi-horizontal &-upper
        right: 0

    .noUi-tooltip
        display: block
        position: absolute
        background: none
        border: none
        border-radius: 3px
        color: #fff
        padding: 5px
        text-align: center
        white-space: nowrap
        font-family: Raleway
        font-size: 12px
        font-weight: 300
        line-height: 17px
        letter-spacing: 0.045em
        text-align: left

.noUi-horizontal .noUi-tooltip
    -webkit-transform: translate(-50%,0)
    transform: translate(-50%,0)
    left: 60%
    bottom: 40%

.price-slider__container
    border: 1px solid #ffffff
    border-radius: 10px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-width: 210px
    .price-slider
        width: 60%
        margin: 25px 0
        position: relative
        top: 5px
.square-slider__container
    border: 1px solid #ffffff
    border-radius: 10px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-width: 210px
    .square-slider
        width: 60%
        margin: 25px 0
        position: relative
        top: 5px

form
    width: 683px
    height: 267px
    background: rgba(52, 54, 88, 0.4)
    backdrop-filter: blur(20px)
    border-radius: 20px
    padding: 19px 33px

    input
        border: 1px solid #ffffff
        border-radius: 10px
        background-color: transparent
        padding: 13px
        min-width: 210px
        color: $white
        &:focus
            border: 1px solid $orange
        &::placeholder
            color: $white
            font-family: 'Raleway'
            font-style: normal
            font-weight: 300
            font-size: 14px
            line-height: 140%
            letter-spacing: 0.045em

    label
        position: absolute
        top: -18px
        left: 20px

        font-family: 'Raleway'
        font-style: normal
        font-weight: 300
        font-size: 11.1204px
        line-height: 140%

        letter-spacing: 0.045em

    button
        background: linear-gradient(287deg, rgba(27, 58, 117, 0.2) 29.38%, rgba(133, 175, 255, 0.173562) 54.2%, rgba(38, 72, 137, 0.152) 74.43%), linear-gradient(88.45deg, #3A4763 1.97%, #3A4763 96.88%)
        box-shadow: inset 0px 1.54691px 3.09382px rgba(0, 0, 0, 0.27)
        border: none
        color: $white
        font-family: 'Forum'
        font-style: normal
        font-weight: 400
        font-size: 18px
        display: flex
        align-items: center
        justify-content: center
        letter-spacing: 0.035em
        text-transform: uppercase
        border-radius: 5px
        height: 49px
        width: 210px
        text-align: center
        margin: 0
        padding-right: 0
